@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Raleway:wght@100;700&display=swap');

$fontWeight: (
  'thin': 100,
  'bold': 700,
  'medium': 400,
  'light': 300,
);

// Note accent font is Raleway thin (font-weight: 100)
$primaryFont: 'Raleway' sans-serif;
$secondaryFont: 'Open Sans' sans-serif;

:root {
  --primaryFont: 'Raleway' sans-serif;
  --secondaryFont: 'Open Sans' sans-serif;
  --thin: 100;
  --bold: 700;
  --medium: 400;
  --light: 300;
}

html,
body,
#root,
.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-kerning: normal;
  font-display: swap;
  font-family: $primaryFont;
}

.gradient-first-arc {
  background: hsla(238, 100%, 71%, 1);
  background: linear-gradient(
    90deg,
    hsla(238, 100%, 71%, 1) 0%,
    hsla(295, 100%, 84%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(238, 100%, 71%, 1) 0%,
    hsla(295, 100%, 84%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(238, 100%, 71%, 1) 0%,
    hsla(295, 100%, 84%, 1) 100%
  );
}

.gradient-sec-arc {
  background: hsla(197, 100%, 63%, 1);
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
}
