@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat&display=swap');

:root {
  --font1: 'Julius Sans One', sans-serif;
  --font2: 'Montserrat', sans-serif;
  --main: rgba(255, 255, 255, 1);
  --sub: rgba(153, 102, 204, 1);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: auto;
}
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
}
html,
body,
#root,
#root > div {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
