@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat&display=swap');

:root {
  --font1: 'Julius Sans One', sans-serif;
  --font2: 'Montserrat', sans-serif;
  --purple: rgba(127, 83, 172, 1);
  --white: rgba(245, 245, 245, 1);
  --purple-gradient: linear-gradient(-135deg, #c850c0, #4158d0);
  --purple-fallback: rgba(183, 33, 255, 1);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
#root,
#root > div {
  width: 100%;
  height: 100vh;
}

body {
  background-color: var(--purple);
  /* background: var(--purple-gradient); */
  background-position: 400% 400%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  -webkit-animation: animate 0.3s 0.2s linear both infinite;
  animation: animate 10s ease-in-out forwards infinite;
}

/* @-webkit-keyframes animate {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes animate {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
} */
