@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Raleway:wght@100;700&display=swap');

$fontWeight: (
  'thin': 100,
  'bold': 700,
  'medium': 500,
  'light': 300,
);

$colorPalette: (
  black: #16161a,
  white: #fffffe,
  grayLight: #e9ecef,
  grayDark: #94a1b2,
  baseColorDarkest: #240046,
  baseColorDark: #3c096c,
  baseColor: #5a189a,
  baseColorLight: #7319af,
  baseColorLightest: #7f5af0,
);
// baseColorLighter: #9d4edd,
// baseColorDarkest: #10002b,

// Note accent font is Raleway thin (font-weight: 100)
$primaryFont: 'Raleway' sans-serif;
$secondaryFont: 'Open Sans' sans-serif;

:root {
  --primaryFont: 'Raleway' sans-serif;
  --secondaryFont: 'Open Sans' sans-serif;
  --thin: 100;
  --bold: 700;
  --medium: 500;
  --light: 300;
}

html,
body,
#root,
.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-kerning: normal;
  font-display: swap;
  font-family: $secondaryFont;
}

.error {
  color: red;
  margin: 0;
}
.nav-item {
  transition: color 0.3s ease;
  color: change-color($color: map-get($colorPalette, grayDark), $alpha: 0.6);
}
.nav-item:hover,
.nav-item:active,
.active-page {
  color: map-get($colorPalette, white);
}
